{
  "presets": ["react","node6"],
  "plugins": [
    ["transform-decorators-legacy"],
    ["transform-class-properties"],
    ["transform-es2015-destructuring"],
    ["transform-object-rest-spread"],
    ["react-intl", {
      "messageDir": "./extracted-messages/",
      "enforceDescriptions": true
    }]
  ]
}