html, body {
  height: 100%;
}

.bs-docs-nav {
  background-color: #222;
  //color: #00b3ee;
}

.site-header {
  min-height: 50px;
}

.site-content {
  min-height: 1000px;
  background-color: #eee;
}

.site-footer {
  min-height: 100px;
  background-color: #222;
}
.widget {
  background-color: #ffffff;
}