#manga-genre {
  .genre-header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
  }
  .genre-item-col {
    padding: 0 15px 15px;
    font-size: 13px;
  }
  .genre-footer {
    padding: 10px;
    background-color: rgba(243, 243, 243, 0.66);
    color: #00b3ee;
    font-size: 12px;
    .glyphicon {
      top: 2px;
    }
  }
}